 /* Responsive Design */
 @media (max-width: 998px) {

            html{
  font-size: 56.25%;
}
            .navbar {
                padding: 15px 5%;
                gap: 28px;
            }

            .navbar .logo {
                font-size: 20px;
            }

            .navbar ul {
                gap: 25px;
            }

            .navbar ul li a {
                font-size: 14px;
            }

            .home {
                flex-direction: column;
                padding: 60px 5% 0;
                text-align: center;
            }

            .home-info h1 {
                font-size: 23px;
                margin-bottom: 5px;
            }

            .home-info h2 {
                font-size: 24px;
                margin-bottom: 5px;
            }

            .home-img .img-box {
                width: 40vh;
                height: 40vh;
                margin-left: 0;
                margin-top: 20px;
            }

            .home-img .img-box::before,
            .home-img .img-box::after {
                width: 300px;
                height: 300px;
            }

            .btn {
                padding: 10px 20px;
                font-size: 14px;
            }

            .social-links {
                margin-left: 0;
                justify-content: center;
            }

            .social-links a {
                font-size: 18px;
            }
        }

        @media (max-width: 486px) {
          html{
  font-size: 50%;
}


            .navbar {
                padding: 10px 3%;
                flex-direction: column;
                align-items: flex-start;
            }

            .navbar .logo {
                margin-bottom: 10px;
            }

            .navbar ul {
                flex-direction: column;
                
            }

            .navbar.active ul {
                display: flex;
            }
            .home-social{
                display: block;
            }
            .social-links{
                margin-top: 20px;
            }

            .navbar ul li a {
                font-size: 14px;
            }

            .home {
                padding: 40px 3% 0;
                min-height: 80vh;
                margin-left: 75px;
            }

            .home-info h1 {
                font-size: 20px;
            }

            .home-info h2 {
                font-size: 18px;
            }

            .home-img .img-box {
                width: 50vw;
                height: 50vw;
            }

            .home-img .img-box::before,
            .home-img .img-box::after {
                width: 200px;
                height: 200px;
            }

            .btn {
                padding: 8px 15px;
                font-size: 12px;
            }

            .social-links a {
                font-size: 16px;
                padding: 6px;
            }
        }

        